body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

input{
    margin: 5px;
    padding: 5px;
}

button{
    padding: 6px 10px;
    cursor: pointer;
}

.producto{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
}